* {
    margin: 0;
    padding: 0;
}

body {
    background: #659DBD;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main {
    width: 700px;
    height: 600px;
    background: #bc986a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

#title {
    font-size: 40px;
    font-weight: bold;
    margin: 60px;
}

#buttons {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 50px;
}

img {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    transition: transform 250ms;
}

img:hover {
    transform: translateY(-20px);
}

img:active {
    transform: scale(0.8);
}
#scissors-btn {
    height: 200px;
}

#count {
    display: flex;
    gap: 70px;
    font-size: 30px;
    font-weight: bold;
}

#options {
    display: flex;
    gap: 100px;
}

button {
    background: #bc986a;
    width: 200px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    transition: transform 250ms;
}

button:hover {
    transform: translateY(-10px);
}

button:active {
    transform: scale(0.8);
}