* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: 'Courier New', monospace;
}

#bg {

    background: linear-gradient(transparent, mistyrose), url("../images/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 140px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

#title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
}

#buttons {
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
    gap: 80px;
}

#therock-btn {
    flex: auto;
    max-width: 200px;
    height: 200px;
}

#paper-btn {
    flex: auto;
    max-width: 200px;
    height: 200px;
}

#scissors-btn {
    flex: auto;
    max-width: 150px;
    height: 200px;
}

img {
    transition: transform 250ms;
    cursor: pointer;
}

img:hover {
    transform: translateY(-20px);
}

img:active {
    transform: scale(0.8);
}

#count {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 40px;
    font-weight: bold;
}

#options {
    display: flex;
    gap: 120px;
}

button {
    background: #1A1A1D;
    width: 200px;
    height: 50px;
    border: transparent;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    transition: transform 250ms;
    font-family: 'Courier New', monospace;
    cursor: pointer;
}

button:hover {
    transform: translateY(-10px);
}

button:active {
    transform: scale(0.8);
}

#round,
#info {
    font-size: 35px;
}